* { box-sizing: border-box; }

$surface__peek: #b9b9b9;
$surface__root: #cdcdcd;
$surface__body: #E7E7EA;
$surface__titlebar: #ffffff;

$surface__control_primary: rgba(255, 255, 255, 100%);
$surface__control_secondary: rgba(255, 255, 255, 100%);