* { box-sizing: border-box; }

$surface__peek: #2B2B2B;
$surface__root: #171717;
$surface__body: #202020;
$surface__titlebar: #3C3C3C;

$surface__control_primary: rgba(255, 255, 255, 20%);
$surface__control_secondary: rgba(255, 255, 255, 10%);