$text__primary_color: #D3D3D3;
$text__secondary_color: #999999;

$text__font_family: Segoe UI;
$text__code_family: monospace;

$text__primary_font_size: 11px;
$text__secondary_font_size: 9px;

$text__frame_border_color: rgba(255, 255, 255, 50%);
$text__control_border_color: rgba(255, 255, 255, 3%);

$text__active_color: #FFFFFF;
$text__active_color_alt: #DFDFDF;
$text__active_foreground: #171717;
$text__brand_color: #FF003D;
$text__brand_color_alt: #A70027;
$text__brand_foreground: #171717;

$text__disabled_opacity: 0.6;